<div class="card-div">
  <mat-card class="example-card card" *ngFor="let game of games">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ game.nome }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ game.foto }}" />
    <mat-card-content>
      <p>
        {{ game.desc }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
